**/.venv
**/venv
**/.env
**/.env.*

**/.git
**/.gitignore

**/node_modules
**/dist
**/build

**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.pyd

**/*.log
**/*.sqlite3
**/*.db

**/Dockerfile*
**/docker-compose*.yml

**/.idea
**/.vscode
**/*.swp
**/*.swo